@font-face {
    font-family: 'pokemon-solid';
    src: url('./files/fonts/Pokemon Solid.ttf');
}

@font-face {
    font-family: 'pokemon-hollow';
    src: url('./files/fonts/Pokemon Hollow.ttf');
}

:root {
  font-size: 16px;
  -webkit-text-size-adjust: initial;
}

body {
    margin: 0;
    border: 0;
    background-color: #645a4e;
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-size: 3rem;
    color: black;
    -webkit-text-fill-color: black;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
H1{
    font-weight: 700;
    font-size: 3rem;
}

H2 {
  font-size: 4rem;
}

#navbar {
  background-color: #1C1C1C;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  z-index: 100;
}

.nav-button {
  cursor: pointer;
  display: block;
  text-align: center;
  padding: 0.3vh 1vh;
  border-radius: 0;
  background-color: #1C1C1C;
  color: #f5f1cd;
  -webkit-text-fill-color: #f5f1cd;
  border: none;
  font-size: 2vh;
  font-weight: 600;
}

.nav-button:hover {
  background: #f5f1cd;
  color: #1C1C1C;
  -webkit-text-fill-color: #1C1C1C;
}

#nav-top {
  padding: 0.1vh 1vh;
}

#nav-top:hover {
  background-color: #f5f1cd;
}

#nav-top img{
  height: 4vh;
}

#nav-reset {
  text-decoration: none;
  display: none;
  justify-content: center;
  align-items: center;
}

#nav-guesses {
  margin-left: auto;
}

.material-symbols-outlined {
  -webkit-text-fill-color: #696969;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}

#nav-volume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0.2vh 2vh;
  margin-right: 2vh;
  border-radius: 0;
  background-color: #1C1C1C;
  color: #f5f1cd;
  -webkit-text-fill-color: #f5f1cd;
  border: none;
  font-size: 2vh;
}

#audio-volume {
  outline: none;
  cursor: pointer;
  border-radius: 20rem;
  -webkit-appearance: none;
  width: 10vw;
  margin: 0.5vw;

  background: linear-gradient(to right, red 50%, #696969 50%);
  height: 0.5vh;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      background: #f5f1cd;
      border-radius: 50%;
      /* box-shadow: -20.5rem 0 0 20.1rem red, 20.5rem 0 0 20.1rem grey; */
      cursor: pointer;
      height: 1.25vh;
      width: 1.25vh;
    }

  &::-moz-range-thumb {
    background: #f5f1cd;
    border-radius: 50%;
    /* box-shadow: -20.5rem 0 0 20.1rem red, 20.5rem 0 0 20.1rem grey; */
    cursor: pointer;
    height: 1.25vh;
    width: 1.25vh;
  }

  &::-ms-tooltip {
      display: none;
  }
}

#welcome {
    margin: 0;
    border: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    background-color: #1C1C1C;
    border-bottom-left-radius: 3vw;
    border-bottom-right-radius: 3vw;
}

#welcome h1 {
    -webkit-text-fill-color: white;
    color: white;
    font-family: "Anonymous Pro", sans-serif;
    display: flex;
    align-items: flex-end;
    font-size: 4vw;
}

#welcome img {
    max-width: 50vw;
    border-radius: 2.5rem;
    margin-bottom: 10vh;
}

#page {
    padding-top: 15vh;
    background-color: #f5f1cd;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}
.pokemon {
    text-align: center;
    font-family: pokemon-solid, monospace;
    font-size: 7.5vh;
    letter-spacing: 0.1em; 
    -webkit-text-stroke: 0.4vh #3A5EA9;
    -webkit-text-fill-color: #FFCB05; 
    text-shadow:  
      -0.75vh 0.75vh 0 #1D2C5E,   
      -1vh 1vh 0 rgba(0, 0, 0, 0.5);
}

#guesses {
    display: none;
}
  
  p {
    text-align: center;
    font-size: 1.5vh;
  }

  .is-it {
    height: 50vh;
  }
  
  .guess-div {
    min-height: 100vh;
    text-align: center;
  }

  .guess-div img {
    height: 40vh;
  }

  #voltorb {
    height: 43.5vh;
  }

  #electrode {
    height: 44.3vh;
  }

  .nope {
    height: 50vh;
  }

  .fullview-text {
    text-align: center;
    min-height: 50vh;
  }

  .halfview-text {
    margin-bottom: 20vh;
  }

  #guess {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 15vh;
  }  

  #guess h5{
    text-align: center;
  }

  #wrong-answer {
    display: none;
    align-self: center;
    text-align: center;
  }

  #guess-again {
    margin: 0;
    margin-left: -1rem;
  }

  .container {
    width: 32rem;
    margin: -1rem;
  }

  .entry-area {
    position: relative;
    height: 80px;
    line-height: 80px;
  }

  #custom-guess-form {
    font-size: 16px;
  }

  #custom-guess-form input {
    position: absolute;
    width: 100%;
    outline: none;
    font-size: 1.2em;
    padding: 0 60px;
    line-height: 40px;
    border-radius: 10px;
    border: 2px solid rgb(100, 100, 100);
    transition: 0.1s ease;
    z-index: 1;
    background-image: url(files/ball-white.png);
    background-color: transparent;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: 1%;
  }

  .custom-guess-label {
    position: absolute;
    font-size: 1.2em;
    margin: 0 55px;
    bottom: 0px;
    height: 100px;
    color: white;
    padding: 0 10px;
    transition: 0.2s ease;
    background-color: #f5f1cd;
    -webkit-text-fill-color: rgb(100, 100, 100);
  }

  #custom-guess-form input:focus,
  #custom-guess-form input:valid{
    border: 4px solid red;
    background-image: url(files/ball-red.png);
  }

  #custom-guess-form input:focus + .custom-guess-label,
  #custom-guess-form input:valid + .custom-guess-label{
    height: 30px;
    line-height: 30px;
    transform: translate(2px, -64px) scale(0.88);
    z-index: 1;
    -webkit-text-fill-color: black;
  }

  #custom-guess-form button {
    margin-top: 3rem;
    margin-left: 15.5rem;
  }

  .custom-guess-button {
    padding: 0.6rem 1rem;
    border-radius: 10px;
    background-color: rgb(100, 100, 100);
    -webkit-text-fill-color: white;
    font-weight: bold;
    font-size: 1.2rem;
    transition: 0.2s;
  }

  .custom-guess-button:hover,
  .custom-guess-button:focus {
    background-color: #D91413;
    cursor: pointer;
  }

  #all-guesses {
    margin: 10vh;
    font-size: 3rem;
    display: grid;
    place-items: center;
    box-sizing: border-box;
    text-align: center;
  }
  
  .button {
    position: relative;
    background-color: #D91413;
    color: white;
    -webkit-text-fill-color: white;
    padding: 0.9rem 2.2rem;
    border-radius: 3rem;
    transition: 0.4s;
    font-weight: 900;
    font-size: 2rem;
  }

  #show-guesses::after {
    content: '';
    width: 80%;
    height: 40%;
    background: linear-gradient(80deg, 
              hsl(0, 90%, 61%) 10%, 
              hsl(0, 100%, 50%) 48%);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    margin: 0 auto;
    border-radius: 3rem;
    filter: blur(12px);
    z-index: -1;
    opacity: 0;
    transition: opacity .4s;
  }

  #show-guesses-text {
    position: relative;
    z-index: 1;
  }

  .show-guesses-img {
    display: block;
  }

  .hide-guesses-img {
    display: none;
  }

  #show-guesses img {
    position: absolute;
    inset: 0;
    margin: auto;
    pointer-events: none;
    transition: 0.6s;
    opacity: 0;
  }

  #show-guesses-golem {
    width: 2rem;
    transform: translate(-25px, -6px) rotate(55deg);
  }

  #show-guesses-wooloo {
    width: 2.8rem;
    transform: translate(7px, -14px) rotate(80deg);
  }

  #show-guesses-darmanitan {
    width: 3rem;
    transform: translate(34, -4px) rotate(-345deg);
  }

  #show-guesses-eldegoss {
    width: 3rem;
    transform: translate(-5px, 15px) rotate(40deg);
  }

  #show-guesses-applin {
    width: 3.5rem;
    transform: translate(9px, -12px) rotate(30deg);
  }

  #show-guesses-miltank {
    width: 2.5rem;
    transform: translate(-30px, -6px) rotate(-180deg);
  }

  #show-guesses-gastly {
    width: 2.5rem;
    transform: translate(30px, 6px) rotate(-120deg);
  }

  #show-guesses:hover::after {
    opacity: 1;
  }

  #show-guesses:hover {
    transform: scale(1.3);
    cursor: pointer;
  }

  #show-guesses:hover img {
    opacity: 1;
  }

  #show-guesses:hover #show-guesses-golem{
    transform: translate(-170px, -30px) scale(1.2);
  }

  #show-guesses:hover #show-guesses-wooloo{
    transform: translate(100px, -32px) scale(1.1);
  }

  #show-guesses:hover #show-guesses-darmanitan{
    transform: translate(175px, -20px) scale(1.1);
  }

  #show-guesses:hover #show-guesses-eldegoss{
    transform: translate(-80px, 35px) scale(1.1);
  }

  #show-guesses:hover #show-guesses-applin{
    transform: translate(74px, 30px) scale(1.1);
  }

  #show-guesses:hover #show-guesses-miltank{
    transform: translate(-170px, 22px) scale(1.1);
  }

  #show-guesses:hover #show-guesses-gastly{
    transform: translate(-35px, -35px) scale(1.1);
  }
  
  #canvas-container {
    width: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5vh;
  }

  canvas {
    margin: 0;
    border-radius: 12vh;
  }

  #answer-div {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #answer-imgs {
    position: relative;
    margin-top: 23vh;
    margin-bottom: 25vh;
    display: grid;
    place-items: center;
  }

  .result-img {
    max-width: 80vw;
    max-height: 50vh;
    position: absolute;
    margin: auto;
  }

  .result-transition {
    transition: opacity 1s ease-in-out;
  }

  .result-transparent {
    opacity: 0;
  }

  #give-up {
    scroll-margin-top: 5vh;
    scroll-snap-margin-top: 5vh;
    margin-bottom: 2rem;
  }
  
  #show-answer {
    margin: 3rem;
  }

  #show-answer:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  #wave{
    height: 3rem;
    display: none;
    align-items: center;
  }

  #wave .stroke {
    position: relative;
    background: #f1f1f1;
    height: 100%;
    width: 0.5rem;
    border-radius: 50px;
    margin: 0 0.25rem;
    animation: animate-wave 1.2s linear infinite;
  }

  @keyframes animate-wave {
    50%{
      height: 20%;
    }
    100%{
      height: 100%;
    }
  }

  .stroke:nth-child(1) {
    animation-delay: 0s;
  }
  
  #wave .stroke:nth-child(2) {
    animation-delay: 0.3s;
  }

  #wave .stroke:nth-child(3) {
    animation-delay: 0.6s;
  }

  #wave .stroke:nth-child(4) {
    animation-delay: 0.9s;
  }

  #wave .stroke:nth-child(5) {
    animation-delay: 0.6s;
  }

  #wave .stroke:nth-child(6) {
    animation-delay: 0.3s;
  }

  #wave .stroke:nth-child(7) {
    animation-delay: 0s;
  }

  #answer {
    display: none;
    margin-top: -3rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
  }

  #answer-reveal {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  #discord-pfp {
    padding-bottom: 1rem;
    box-sizing: border-box;
    transition: 0.2s;
  }

  #discord-pfp:hover {
    cursor: pointer;
    transform: scale(0.95);
  }

  #discord-add-msg {
    margin: 1rem;
  }